.desktopShell_container {
  min-height: 100%;
  min-width: 100%;
  width: fit-content;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktopShell {
  display: inline-block;
}
