.desktopShell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.desktop {
  background-color: transparent;
  flex-grow: 1;
}

.taskbar {
  height: 3rem;
  background-color: purple;
}
