.taskbar {
  height: 2rem;
  color: white;
  background-color: #c3c3c3;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1rem;
}

.taskbar_datetime {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
