:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -moz-user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  font-family: 'Pixelated MS Sans Serif';
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
