:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'MS W98 UI';
  src: url('assets/fonts/MSW98UI-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'MS W98 UI';
  src: url('assets/fonts/MSW98UI-Bold.otf') format('opentype');
  font-weight: bold;
}

#root {
  font-family: 'MS W98 UI';
}
