:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -moz-user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html,
body,
#root {
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: 'MS W98 UI';
  src: url('assets/fonts/MSW98UI-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'MS W98 UI';
  src: url('assets/fonts/MSW98UI-Bold.otf') format('opentype');
  font-weight: bold;
}

#root {
  font-family: 'MS W98 UI';
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
